/* Sidebar.css */
.sidebar-wrapper {
    position: fixed; /* Fix the sidebar to the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    height: 100vh; /* Full height of the viewport */
    width: 20vw; /* Adjust the width as needed */
    background-color: rgb(21, 59, 54);
    color: lightgray;
    text-align: center;
    padding-top: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
    z-index: 1000; /* Ensure the sidebar stays on top of other elements */
}


.sidebar-wrapper .header {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.sidebar-wrapper .user .avatar {
    width: 9vw;
    height: 9vw;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}

.sidebar-wrapper .user .name {
    margin-top: 20px;
    font-size: 1.2em;
}

.sidebar-wrapper .links {
    text-align: left;
    padding-top: 80px;
}

.sidebar-wrapper .link {
    color: lightgray;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
    padding: 15px 25px;
}
